@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@utility des {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

* {
  font-family: var(--font-manrope);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #d87d4a transparent;
}

html {
  background-color: #fafafa;
}

body {
  background-color: #fafafa;
  color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d87d4a;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.container {
  margin-inline: auto;

  @media (max-width: 767px) {
    padding-inline: 15px;
  }
}

.btn {
  padding: 23px 30px;
  border: none;
  border-radius: 0;

  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.link {
  text-decoration: none;
  background-image: linear-gradient(to right, #d87d4a, #d87d4a 50%, white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

  &:before {
    content: "";
    background: #d87d4a;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    background-position: 0;

    &::before {
      width: 100%;
    }
  }

  &:hover {
    background-position: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

@keyframes popUp {
  0% {
    transform: translateY(6px) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: translateY(-2px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.animate-pop-up {
  animation: popUp 0.25s ease;
}

@keyframes popDownRed {
  0% {
    transform: translateY(-10px) scale(1.1);
    opacity: 0;
    text-shadow: 0 0 0px rgba(255, 0, 0, 0);
  }

  50% {
    transform: translateY(2px) scale(0.95);
    opacity: 1;
    text-shadow:
      0 0 6px rgba(255, 0, 0, 0.8),
      0 0 12px rgba(255, 0, 0, 0.5);
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    text-shadow: 0 0 0px rgba(255, 0, 0, 0);
  }
}
.animate-pop-down-red {
  animation: popDownRed 0.3s ease;
}

@keyframes popUpGreen {
  0% {
    transform: translateY(10px) scale(0.95);
    opacity: 0;
    text-shadow: 0 0 0px rgba(0, 255, 0, 0);
  }

  50% {
    transform: translateY(-2px) scale(1.1);
    opacity: 1;
    text-shadow:
      0 0 6px rgba(0, 255, 0, 0.8),
      0 0 12px rgba(0, 255, 0, 0.5);
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    text-shadow: 0 0 0px rgba(0, 255, 0, 0);
  }
}
.animate-pop-up-green {
  animation: popUpGreen 0.3s ease;
}
